@page {
  size: A4;
  margin: None;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/img/fond.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

/* ids */
#a4-page {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  margin: auto;
  background-color: #282d45;
  background-image: url("../assets/img/arriere\ plan\ .jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 15px 2px black;
  overflow-x: hidden;
  z-index: 1;
}

#a4-page-horizontal {
  position: relative;
  width: 29.7cm;
  height: 21cm;
  margin: auto;
  background-color: #282d45;
  background-image: url("../assets/img/arriere\ plan\ .jpg");
  background-position: center top;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 15px 2px black;
  overflow-x: hidden;
  overflow-y: hidden;
}

#top-image {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

#bottom-image {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

#pfp-container {
  display: flex;
  align-items: center;
}

#pfp {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../assets/img/pic_resume.webp");
  background-size: cover;
  background-position: center;
  margin-right: 20px;
  border: 2px solid black;
}

#pfp-text {
  margin-top: -32px;
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.content-container {
  position: relative;
  bottom: 0;
  z-index: 3;
  width: 100%;
  overflow: None;
}

.content-inside {
  width: 21cm;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  text-align: left;
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.questionnaire-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #282d45;
  border: 2px solid white;
  padding: 20px;
}

.white-bar {
  background-color: white;
  position: relative;
}

.container-resume-parts {
  background-color: rgba(255, 255, 255, 0.02);
  width: 350px;
  height: 300px;
  position: absolute;
}

.skill {
  position: relative;
  left: 5%;
}

.skill-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  margin-top: 4px;
  position: relative;
  font-weight: bold;
  margin-bottom: 5px;
}

.progress {
  width: 90%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
}

.progress-bar-1 {
  position: relative;
  height: 100%;
  background-color: #3c4968;
  border-radius: 0px;
}

.darken-on-hover:hover img {
  animation: darken 0.3s ease forwards;
}

.button-hover:hover {
  animation: button_over 0.3s ease forwards;
}

.clickable:hover {
  cursor: pointer;
}

@keyframes darken {
  from {
      filter: brightness(1);
  }

  to {
      filter: brightness(0.6);
  }
}

@keyframes button_over {
  from {
      background-color: transparent;
  }

  to {
      background-color: #282d45;
  }
}